/*=== CONFIGURAÇÕES GERAIS======*/


/*ESTILO DO CORPO DA PÁGINA*/
body{
    font-family: Arial, Helvetica, sans-serif; /*fonte*/
    margin: 0; /*margem defina como zero ou seja sem margem*/
    padding: 0; /*espaçamento*/
    color: #949f9f; /*cor do texto*/
    background-color: #0e0e10; /*cor do fundo da pagina*/  
    flex-direction: column; /*organiza header couteudo footer coloca um em baixo do outro*/ 
    display: flex;
    
}

html, body { height: 100%; }

.sobre h2{
    color:#af925e;
    text-align: left; 
    font-size: 28px;
    margin: 80px;
}

.sobre h3{
    color:#af925e;
    text-align: left; 
    font-size: 35px;
    margin: 70px;

}


/* ESTILO APLICADO AOS TITULOS "H´S" */
.h1, h2, h3{
    color:#af925e;
    text-align: center; /*alinhamnento do textos "h´s"*/
    font-size: 20px;
}


.sobre p{
    margin: 100px;
    padding: 2px;
    text-align: left; 
    font-size: 23px;
}


/* estilos paragrafos */
p{
    line-height: 1.6; /*espaçamento entre cada linha*/
    margin: 40px; /*margem (espaçamento entre paragrafos)*/
    text-align: center; /*alinhamnento do textos "p´s"*/
    font-size: 12px;
}

/* Estilo do cabeçalho da pagina "HEADER" E "MENU" */

header{
    background-color: black;
    color: white;
    padding: 20px;
}
/* destaque da palavra cafe */
.logo a {
    text-decoration: none; /*sublinahdo do link*/
    font-size: 20px; 
    color: white;
    font-weight: bold;   
}
/*destaque da palavra zes*/
.logo span{
    color: white;
}
/*conteiner do menu*/

.btn-primario {
    background-color: #af925e; /* Fundo laranja */
    color: #ffffff;              /* Texto branco */
    padding: 10px 20px;        /* Espaçamento interno */
    border-radius: 8px;        /* Cantos arredondados */
    text-decoration: none;     /* Sem sublinhado */
  }
  
  /* Botão secundário */
  .btn-secundario {
    background-color: #af925e;       /* Fundo branco */
    color: #ffffff;                /* Texto azul */
    padding: 10px 20px;            /* Espaçamento interno */
    border-radius: 8px;            /* Cantos arredondados */
    text-decoration: none;         /* Remove sublinhado */
  
  }


.menu{
    text-align: center; /*cnetraliza os links*/
    margin-top: 10px; /*margem/espaçamento do topo*/ 
}
/*estilo dos links do menu*/
.menu a {
    color: white;
    text-decoration: none; 
    margin: 15px;
    font-weight: bold; /*negrito*/
}

.menu a:hover{
    color:white;
}

.li{
    text-align: center;

}

ul {
    margin: 100px;
    padding: 2px;
    text-align: left; 
    font-size: 19px;
}


/*=========SEÇÃO PRINCIPAL========*/
/*AREA DE DESTAQUE SUPERIOR*/
.hero{
background-color: #0e0e10;
text-align: center;
padding: 60px 20px;
}
/*titulo da hero*/
.hero h1{
    font-size: 35px;
    color: #949f9f;
}
/* paragrafo da hero */
.hero p {
    font-size: 10px;
    margin-bottom: 20px;
}

.produtos{
    text-align: center;
    
}


.card-produto{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #000000;
    border-radius: 8px;
}

.Produtos-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 15px;
  align-items: stretch;
}



/*RODAPE*/
/*AREA inferior fixa na pagina */

footer{
    background-color: #151517;
    margin-top:auto;
    color: lightgray ;
    text-align: center;
    border-top: 1px solid #af925e;   /* Linha externa superior */
    border-bottom: 1px solid #af925e; /* Linha externa inferior */
    padding: 30px;
    font-size: 14px;
}


/*links dentor do rodapé*/

footer a{
    color: #ffefbf; /*texto*/
    text-decoration: none;
}

.contato{
    padding: 40px 20px;
}


.contato form {
  max-width: 600px;         /* largura máxima do formulário */
  max-height: 400px;      
  margin: 0 auto;           /* centraliza na tela */
  display: flex;
  flex-direction: column;   /* campos um embaixo do outro */
  gap: 1px;               /* espaçamento entre os campos */
}

.contato textarea {
  padding: 10px;             /* deixa o campo confortável */
  font-size: 16px;          /* texto legível */
  width: 100%;
  box-sizing: border-box;  
  height: 600px;             /* altura do campo de mensagem */
}

.contato button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;          /* cursor de mãozinha ao passar sobre o botão */
}

#nome{
    height: 200px;
}

#email{
    height: 200px;
}



/*MEDIDA QUERIES - ADAPTAR EM TELAS MENORES*/
@media(max-with: 768px){
    .produtos{
        flex-direction: column;
        
    }

    .topo{
        flex-direction: column;
        gap: 10px;
    }
    .produto{
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background: #000000;
        border-radius: 8px;
    }
    .fora{
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media(max-with: 480px){
    h1{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    .fora {
        padding: 0 10px;
    }
}
